# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Files and folders specific to PhytoFit
01_formatData.R
NOTES_PhytoFit.txt
old_files/
tests/
output/
USERGUIDE.html
fst_tutorial.html
README.html
troubleshooting_and_help.html
updates.html
data_filesize_speed_tests/

verified_fits/modisaqua/gosl_spring_log/manual_fits/*
verified_fits/modisaqua/gosl_spring_log/standard_fits/*
verified_fits/modisaqua/labrador_sea_fall_log/standard_fits/*
verified_fits/modisaqua/labrador_sea_fall_log/symmetric_fits/*
verified_fits/modisaqua/labrador_sea_spring_linear/standard_fits/*
verified_fits/modisaqua/labrador_sea_spring_log/manual_fits/*
verified_fits/modisaqua/labrador_sea_spring_log/manual_fits_fixed_settings_files/*
verified_fits/modisaqua/labrador_sea_spring_log/standard_fits/*
verified_fits/modisaqua/scotian_shelf_fall_log/standard_fits/*
verified_fits/modisaqua/scotian_shelf_fall_log/symmetric_fits/*
verified_fits/modisaqua/scotian_shelf_spring_linear/standard_fits/*
verified_fits/modisaqua/scotian_shelf_spring_log/manual_fits/*
verified_fits/modisaqua/scotian_shelf_spring_log/manual_fits_fixed_settings_files/*
verified_fits/modisaqua/scotian_shelf_spring_log/standard_fits/*
verified_fits/modisaqua/verified_fits_backup.zip
verified_fits/modisaqua/gaussian_fits.zip
verified_fits/modisaqua/good_vs_bad_fits.png
verified_fits/occci/labrador_sea_fall/manual_fits/*
verified_fits/occci/labrador_sea_fall/standard_fits/*
verified_fits/occci/labrador_sea_spring/manual_fits/*
verified_fits/occci/labrador_sea_spring/standard_fits/*
verified_fits/occci/scotian_shelf_spring/manual_fits/*
verified_fits/occci/scotian_shelf_spring/standard_fits/*

# 2022-01-02 change - ignore the dataset folder, they should be treated separately and not tracked
data/atlantic/*
data/pacific/*
data/baffin/*
data/gosl1km/*
data/gosl4km/*
data/testregion/*

# 2022-04-05 ignore volumes that are mounted by Docker
data/
shiny_logs/

