# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Files and folders specific to PhytoFit
CAN_4km.nc
01_formatData.R
check_for_new_data.R
NOTES_PhytoFit.txt
PhytoFit.pdf
old_files/
extract_bloom_parameters.R
output/
dmapps_thumbnail01.jpg
USERGUIDE.md
presentation_title_slide.pdf