# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Files and folders specific to PhytoFit
01_formatData.R
NOTES_PhytoFit.txt
old_files/
tests/
output/
USERGUIDE.html
fst_tutorial.html
README.html
troubleshooting_and_help.html
updates.html
data_filesize_speed_tests/

# 2022-01-02 change - ignore the dataset folder, they should be treated separately and not tracked
data/atlantic/*
data/pacific/*
